*{
  box-sizing: border-box;
  transition:0.3s linear;
}
:where([class^="ri-"])::before { content: "\f3c2"; }
    .nav-dropdown { display: none; }
    .nav-item:hover .nav-dropdown { display: block; }
    .service-card:hover { transform: translateY(-5px); }
    .product-card:hover { transform: scale(1.02); }
.navMain_container{
  width:850px;
}
.container_nav_items{
  display: flex;
  gap:40px;
  justify-content: center;
  align-items:center;
}
.nav-item{
  transition:0.3s linear;
  color: black;
}
.nav-item:hover{
  color: #04023d;
  font-weight:600;
  scale:1.1;
}
::-webkit-scrollbar {
  width: 10px!important;
}

::-webkit-scrollbar-track {
  background:#111827
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}
.container_quotemodal{
margin-left:0px;
}
.sticky-element {
  position: sticky;
  top: 0; /* distance from top before sticking */
  z-index: 1000; /* ensure it’s above other content */
  background-color: white; /* avoid content overlap transparency */
}

.container_reqQuote_overall{
  height:100vh!important;
  width:100vw;
  padding:5px;
  padding-top:130px;
  border-radius:0px;
  overflow:scroll;
  margin-left:0px!important;
}
.service-card:hover {
  transform: translateY(-5px);
}
.product-card:hover {
  transform: scale(1.02);
}

.button_home_Explore {
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0.811);
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 50px -20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  width:250px;
  transition: all 0.5s ease;
  margin-left:10px;
}

.button_home_Explore:hover {
  letter-spacing: 3px;
  background-color: #111827;
  color: hsl(0, 0%, 100%);
  border: 1px solid rgba(243, 243, 243, 0.407);
  box-shadow: #04023d 0px 7px 29px 0px;
}

.button_home_Explore:active {
  letter-spacing: 3px;
  background-color: #111827;
  color: hsl(0, 0%, 100%);
  box-shadow: #04023d 0px 0px 0px 0px;
  transition: 100ms;
}
@keyframes appear {
  from{
      opacity:0.7;
      scale: 0.7;
  }
  to{
      opacity:1;
      scale:1;
  }
}
.animationScrollEffect{
  animation:appear linear;
  animation-timeline:view();
  animation-range: entry 0% cover 30% ;
}
/*part2*/
.container_part2{
    background: #111827;
    z-index: 1;
}
.card_ourmission{
    border:1px solid rgba(0, 0, 0, 0.196)!important;
    box-shadow: rgba(2, 1, 42, 0.338) 0px 5px 15px;
}
/*part 3*/
.service-card{
    
    background-color:rgba(255, 255, 255, 0.80);
    transition:0.3s linear;
    cursor:pointer;
}
.service-card:hover{
    background-color:white;
}
/*achievements*/
.text_achievements_desc{
    color:rgb(142, 141, 141);
    font-size:18px;
}

@media only screen and (max-width:660px) {
  *{
    box-sizing: border-box;
    transition:0.3s linear;
  }
  :where([class^="ri-"])::before { content: "\f3c2"; }
      .nav-dropdown { display: none; }
      .nav-item:hover .nav-dropdown { display: block; }
      .service-card:hover { transform: translateY(-5px); }
      .product-card:hover { transform: scale(1.02); }
  .container_nav_items{
    display: flex;
    gap:40px;
    justify-content: center;
    align-items:center;
  }
  .nav-item{
    transition:0.3s linear;
    color: black;
  }
  .nav-item:hover{
    color: #04023d;
    font-weight:600;
    scale:1.1;
  }
  ::-webkit-scrollbar {
    width: 10px!important;
  }
  
  ::-webkit-scrollbar-track {
    background:#111827
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
  }
  .container_quotemodal{
  margin-left:0px;
  }
  .container_reqQuote_overall{
    height:100vh!important;
    width:100vw;
    padding:5px;
    padding-top:130px;
    border-radius:0px;
    overflow:scroll;
    margin-left:0px!important;
  }
  .service-card:hover {
    transform: translateY(-5px);
  }
  .product-card:hover {
    transform: scale(1.02);
  }
  
  .button_home_Explore {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgba(255, 255, 255, 0.811);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 50px -20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    width: 260px;
    transition: all 0.5s ease;
  }
  
  .button_home_Explore:hover {
    letter-spacing: 3px;
    background-color: #111827;
    color: hsl(0, 0%, 100%);
    border: 1px solid rgba(243, 243, 243, 0.407);
    box-shadow: #04023d 0px 7px 29px 0px;
  }
  
  .button_home_Explore:active {
    letter-spacing: 3px;
    background-color: #111827;
    color: hsl(0, 0%, 100%);
    box-shadow: #04023d 0px 0px 0px 0px;
    transition: 100ms;
  }

  @media only screen and (max-width: 660px) {
    .sm_dev_smallItems{
      margin-left:10px;
      margin-top:4px;
    }
  }
  /*part2*/
  .container_part2{
      background: #111827;
      z-index: 1;
  }
  .card_ourmission{
      border:1px solid rgba(0, 0, 0, 0.196)!important;
      box-shadow: rgba(2, 1, 42, 0.338) 0px 5px 15px;
  }
  /*part 3*/
  .service-card{
      
      background-color:rgba(255, 255, 255, 0.80);
      transition:0.3s linear;
      cursor:pointer;
  }
  .service-card:hover{
      background-color:white;
  }
  /*achievements*/
  .text_achievements_desc{
      color:rgb(142, 141, 141);
      font-size:18px;
  }
  .small_quote_button{
    font-size:12px;
  }
  
}